.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

.App button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.App button:hover {
  background-color: #e0e0e0;
}

h1 {
  color: #333;
}

h2 {
  color: green;
  margin-top: 40px;
}

.currency-converter-form div,
.currency-converter input[type="text"] {
  margin-bottom: 10px;
}

.currency-converter label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

.currency-converter input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.currency-converter button {
    margin-top: 10px;
}